body {
    display: flex;
    flex-direction: column;
    height: 100vh; /* this means 100% of viewport and is key to having footer align to bottom of screen */
    justify-content: space-between;
} 


.overall-layout {
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
 }

 /* .content {
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  } */
  
 
/* .header {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    color: white;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
} */
/* 
ul {
    display: flex;
    list-style: none;
    padding: 0px;
    margin: 0px;
} */
/* 
.section-one-content {
    display: flex;
    background-color: #1f2937;
    flex: 1 0 auto;
    padding-left: 100px;
    padding-right: 100px;
} */
/* 
.box-one {
    display: flex;
    flex-direction: column;
    flex: auto;
    color: white;
    align-content: center;
    justify-content: center;
    
} */
/* .box-two {
    display: flex;
    flex: auto;
    width: 200px;
    height: 200px;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    background-color: rgb(235, 219, 219);
} */

.footer {
    display: flex;
    flex: 1;
    align-items: flex-end;
    margin: 20px;

}